

body,
html {
    width: 100%;
    height: 100%;
    background-repeat:no-repeat;
   	background-size:cover;
    overflow: hidden;
}

#first {
  width: 500px;
  height: 100px;
  transform: translate(30vw, 50vh);
  cursor: pointer;

}
