

body,
html {
    width: 100%;
    height: 100%;
    background-repeat:no-repeat;
   	background-size:cover;
    /*overflow-x: hidden;*/
}

#first {
  width: 600px;
  height: 200px;
  transform: translate(30vw, 40vh);

}
